.cart-all{
  margin: 10rem auto;
  width: 60rem;
  height: 100%;
  background: coral;
}
/* .cart-container {
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 10px;
} */

.cart-item {
  display: flex;
  margin-bottom: 10px;
}

.cart-item-image {
  width: 100px;
}
.picc{
  width: 50%;
}

.cart-item-name {
  margin-left: 10px;
  font-size: 16px;
}

.cart-item-quantity {
  margin-left: 10px;
  width: 50px;
}

.cart-item-price {
  margin-left: 10px;
  font-size: 14px;
  color: #999;
}

.remove-btn{
  width: 30px;
}
cart-total{
  border:1px solid 20rem;
}

.cart-total-count {
  font-size: 16px;
  font-weight: bold;
}

.cart-total-price {
  font-size: 14px;
  font-weight: bold;
  color: #999;
}
