
/* body{
    background: darksalmon;
} */
.overall{
    background-color: #e1dede;
}
.containerp{
    width: 65rem;
    height: 64rem;
    margin: 0 auto;
    background-color: #faf2ec;
    border-radius: 8px;
    overflow: hidden;
}
.containerp input{
    width: 22rem;
    height: 4rem;
    text-align: center;
    margin-left: 21.5rem;
    margin-top: 2rem;
    border: 1px solid #000;
    cursor: pointer;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 8px;
    border-top-right-radius: 0px;
}
input:hover{
    border: 1px solid #fd7e14;
    background-color: snow;
    transform: scale(1.07);
}
.containerp h4{
    text-align: center;
    font-size: 1.9rem;
}
.orderp{
    margin-top: 1rem;
    margin-left: 1rem;
}
.imgp{
    width: 7rem;
    height: 7rem;
    border-radius: 10px;
    padding: 1px;
    background-color: #fd7e14;
    margin-left: 1rem;
}
.hrp{
    width: 40rem;
    margin: 0 auto;
    opacity: 0.3;
    margin-top: 1.3rem;
}
.contpp{
    display: flex;
    margin-top: 1.3rem;
}
.objectp{
    margin-top: 1rem;
    /* margin-left: 3rem; */
}
.delicacyp{
    margin-left: 2rem;
}
.twop{
    margin-left: 2rem;
}
.plusp{
    margin-left: 2rem;
}
.valuep{
    margin-left: 33rem;
}
.orderpp{
    text-align: center;
    font-size: 20px;
    margin-top: 2rem;
}
.borderp{
    border: .1rem solid #fd7e14;
    height: 6rem;
    width: 56rem;
    border-radius: 8px;
    margin: 0 auto;
    margin-top: 1rem;
}
.totalp{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.amountp{
    font-size: 15px;
    padding: 2rem 0 0 1rem;
}
.amountpp{
    font-size: 14px;
    padding: 0.2rem 1rem 0 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.btn22{
    background:#fd7e14;
    color: #fff;
    width: 24rem;
    height: 3rem;
    text-align: center;
    border-radius: 5px;
    border: none;
    font-size: 11px;
    cursor: pointer;
    margin-top: 2.5rem;
    margin-left: 20rem;
    align-items: center;
}
.btn22:hover{
    transform: scale(1.1);
}
.order-summary{
    margin-top: 3rem;
}

@media screen and (max-width: 480px) {
    .containerp {
        padding: 1rem;
        width: 38rem;
        align-items: center;
    }
    .containerp input {
        width: 12rem;
        margin: 0 auto;
        margin-top: 1.5rem;
    }
    .containerp h4{
        text-align: left;
        font-size: 1.5rem;
    }
    .hrp{
        width: 0px;
    }
    .borderp{
        width: 28rem;
        margin: 0;
    }
    .btn22{
        margin: 0;
        width: 12rem;
    }
}