/* .login-container{
    background-color: #0c9b9b;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    align-items: center;
    width: 38rem;
    height: 38rem;
}
.both{

}
.login-container input{
    margin: 0 auto;
    cursor: pointer;
}
.register-link{
    color: #fff;
}
.imgg{
    width: 10rem;
    height: 5rem;
} */